.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-screenshots-swiper {
  padding: 20px 10px;
}

.app-screenshots-swiper .swiper-slide {
  transition: transform 0.3s;
}

.app-screenshots-swiper .swiper-slide:hover {
  transform: scale(1.05);
}

.app-screenshots-swiper .swiper-button-next,
.app-screenshots-swiper .swiper-button-prev {
  color: #9793eb;
}

.app-screenshots-swiper .swiper-pagination-bullet-active {
  background: #FFF9FF;
}
